<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <title>Adehenry: CRUD APPLICATION</title>
</head>
<body class="bg-info">
    <div class="row">
        <div class="col-md-6 offset-md-3" style="background-color:#fff; margin-top: 25px; padding: 20px;">
            <h3 style="text-align: center;">Update Employee</h3>

            <form autocomplete="off" method="post" action="/">
                <input type="hidden" name="_id" value="<%= employeeList._id %>" />
                <div class="form-group">
                    <label>Full Name</label>
                    <input type="text" class="form-control" name="fullName" value="<%= employeeList.fullName %>" />
                    
                </div>
            
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" class="form-control" name="email" value="<%= employeeList.email %>"   />
                  
                </div>
                <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Mobile</label>
                    <input type="text" class="form-control" name="mobile" value="<%= employeeList.mobile %>"  />
                </div>
                 <div class="form-group col-md-6">
                    <label>City</label>
                    <input type="text" class="form-control" name="city" value="<%= employeeList.city %>"  />
                </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Update</button>
                    <a class="btn btn-secondary" href="/list" style="background-color: black;color: cornflowerblue;"><i class="fa fa-list-alt"></i> View List</a>
                </div>
            </form>
        </div>
    </div> 
</body>
</html>



